[submodule "tracker-notification-service"]
	path = tracker-notification-service
	url = https://github.com/fanat1kq/tracker-notification-service
[submodule "tracker-front"]
	path = tracker-front
	url = https://github.com/fanat1kq/tracker-front
[submodule "tracker-backend-service"]
	path = tracker-backend-service
	url = https://github.com/fanat1kq/tracker-backend-service
