[submodule "notification-service"]
	path = notification-service
	url = https://github.com/fanat1kq/tracker-notification-service

[submodule "front"]
	path = front-service
	url = https://github.com/fanat1kq/tracker-front
